<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="imagens/lollipop.ico" />
    <link href="./style.css" rel="stylesheet" />
    <title>DiabeteShop</title>
</head>

<body>
    <img src="imagens/logoFogo.png" alt="DiabeteShop" width="1350" height="200">
    <ul class="topnav">
        <li><a href="./index.html">Página inicial</a></li>
        <li><a href="./adicionarCliente.html">Cadastre-se</a></li>
        <li><a href="./adicionarProduto.html">Cadastrar Produto</a></li>
        <li><a href="./editarCliente.html">Editar Cliente</a></li>
        <li><a href="./editarProduto.html">Editar Produto</a></li>
        <li><a class="active" href="./listarCliente.html">Listar Cliente</a></li>
        <li><a href="./listarProdutos.html">Listar Produtos</a></li>
        <li><a href="./pedidos.html">Meus Pedidos</a></li>
        <li><a href="./minhaConta.html">Area do cliente (?)</a></li>
        <li><a href="./produtos.html">PRODUTOS</a></li>
        <li><a href="./adicionarPedido.html">Sacola de compras</a></li>
        <li><a href="./contato.html">Fale conosco</a></li>
        <li><a href="./sobre.html">Sobre nós</a></li>

    </ul>

    <div style="padding: 0 16px;"> </div>
    <div style="text-align: center;">
        <h1>Lista de clientes cadastrados:</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>idCliente</th>
                <th>Nome</th>
                <th>Gênero</th>
                <th>Rua</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>CEP</th>
                <th>E-mail</th>
                <th>Celular</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="umCliente: ${todosOsCliente}">
                <td th:text="${umCliente.id}"></td>
                <td th:text="${umCliente.nome}"></td>
                <td th:text="${umCliente.genero}"></td>
                <td th:text="${umCliente.rua}"></td>
                <td th:text="${umCliente.bairro}"></td>
                <td th:text="${umCliente.cidade}"></td>
                <td th:text="${umCliente.cep}"></td>
                <td><a th:href="'mailto:'+${umCliente.email}" th:text="${umCliente.email}"></a></td>
                <td th:text="${umCliente.celular}"></td>
                <td><a th:href="@{/editar/{id}(id=${umCliente.id})}">Editar</a></td>
                <td><a th:href="@{/remover/{id}(id=${umCliente.id})}">Remover</a></td>
            </tr>
        </tbody>
    </table>

</body>

</html>