 <!DOCTYPE html>
<html lang="pt_br">

<head>
  <title>PWeb - by Maria Silva</title>
  <codigoSecreto="1834169065" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link th:href="@{/style/style.css}" rel="stylesheet" />
</head>

<body>

  <ul class="topnav">
    <li><a class="active" href="/index.html">Início</a></li>
    <li><a href="/adicionarPessoa.html">Adicionar pessoa</a></li>
    <li><a href="/listarPessoas.html">Listar pessoas</a></li>
    <li><a href="/noticias.html">Canais de notícias</a></li>
    <li><a href="/contato.html">Mande um e-Mail</a></li>
    <li class="right"><a href="./sobre.html">Sobre o site</a></li>
  </ul>
  <div>
    <h1 style="text-align: center;">Hidrate-se!</h1>
    <p>
      <img class="center" src="imagens/aguagelada.jpg" alt="Água gelada." title="Agua gelada!">
    </p>
  </div>

</body>

</html>