<!DOCTYPE html>
<html lang="pt_br">

<head>
<title>PWeb - by Maria Silva</title>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="/style/style.css" rel="stylesheet" />
</head>

<body>

	 <ul class="topnav">
        <li><a class="active" href="/">Início</a></li>
        <li><a href="/adicionarPessoa">Adicionar pessoa</a></li>
        <li><a href="/listarPessoas">Listar pessoas</a></li>
        <li><a href="/public/noticias.html">Canais de notícias</a></li>
        <li><a href="/public/contato.html">Mande um e-Mail</a></li>
        <li class="right"><a href="/public/sobre.html">Sobre o site</a></li>
    </ul>

		<div style="padding: 0 16px;"> </div>
			<div style="text-align: center;">
				<h1>Lista de pessoas</h1>
			</div>
			<table>
				<thead>
					<tr>
						<th>id</th>
						<th>Nome Completo</th>
						<th>E-mail</th>
						<th>Data de nascimento</th>
						<th>Gênero</th>
						<th>Editar</th>
						<th>Remover</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="umaPessoa: ${todasAsPessoas}">
						<td th:text="${umaPessoa.id}"></td>
						<td th:text="${umaPessoa.nome}"></td>
						<td><a th:href="'mailto:'+${umaPessoa.email}" th:text="${umaPessoa.email}"></a></td>
						<td th:text="${#temporals.format(umaPessoa.dataNascimento,'dd/MM/yyyy')}"></td>
						<td th:text="${umaPessoa.genero}"></td>
						<td><a th:href="@{/editar/{id}(id=${umaPessoa.id})}">Editar</a></td>
						<td><a th:href="@{/remover/{id}(id=${umaPessoa.id})}">Remover</a></td>
					</tr>
				</tbody>
			</table>
</body>
</html>